
<div class="elemRow">

    <input class="ambient" type="text" id= <%=ambient%> value="<%=ambient%>" readonly disabled>
    <input class="value" type="text" id= <%=led%> value="0" readonly disabled>

    <input class="tuning" type="button" id= <%=incButton%> value="+" />
    <input class="tuning" type="button" id= <%=decButton%> value="-" />
    <script>

        // Immediately invoked function to increment/decrement each LED intensity
        ( function()
        {
            const inc = document.getElementById('<%=incButton%>');
            const dec = document.getElementById('<%=decButton%>');
            const led = document.getElementById('<%=led%>');

            inc.addEventListener('click', () => {
                let value = parseInt(led.value, 10);
                led.value = (led.value == 10)? 10 : value+1;
            });
            dec.addEventListener('click', () => {
                let value = parseInt(led.value, 10);
                led.value = (led.value == 0)? 0 : value-1;
            });
        })();
    </script>
</div>
