<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/config.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="intro">
                <p>
                    Questa è la sezione dedicata all'impostazione e regolazione
                    dei tuoi dispositivi. Dopo aver regolato i vari dispositivi
                    disponibili è possibile salvare la configurazione attuale
                    per poterla utilizzare in seguito. Per fare ciò è necessario
                    associargli un nome e premere il tasto salva.
                </p>
            </div>
            <form action="/configurazione" method="post" id="setupForm" >
                <input type="hidden" name="formTrigger" value="apply" id="formTrigger" />
                <div class="elemRow">

                    <div class="section split">
                        <p class="title">Area LED</p>
                        <p class="sectionInfo">
                            In questa area è possibile regolare la luminosità dei LED.
                            Sono previsti 10 livelli (1-10) per ogni LED.
                        </p>
                        <p class="sectionInfo mgBottomLed">
                            Se viene impostato un fotoresistore per un determinato
                            LED non è possibile impostare un valore manuale per quello
                            stesso LED finchè non viene selezionato il valore
                            "Nessuno" per quel fotoresistore.
                        </p>
                        <% for(let i=1; i<9; i++) { %>
                            <%- include('partials/led', {index:i}) %>
                        <% } %>
                    </div>

                    <div class="verticalSep"></div>

                    <div class="section split">
                        <p class="title">Area Fotoresistori</p>
                        <p class="sectionInfo">
                            In questa area è possibile associare ad ogni LED uno dei
                            fotoresistori installati in modo da regolarne la luminosità
                            in maniera automatica. Ogni fotoresistore può essere
                            associato ad un solo LED.
                        </p>
                        <p class="sectionInfo mgBottom">
                            Fintanto che per un LED è selezionato un fotoresistore,
                            per quello stesso LED non può essere impostato un valore
                            manualmente tramite i suoi pulsanti.
                        </p>
                        <% for(let i=1; i<9; i++) { %>
                            <%- include('partials/pr', {index:i}) %>
                        <% } %>
                        <script>
                            // Loaded values should be checked against other pr selectors for mutual exclusivity
                            let event = new Event('change');
                            for(let i=1; i<9; i++) {
                                const selId = "sel" + i;
                                const selector = document.getElementById(selId);
                                selector.dispatchEvent(event);
                            }
                        </script>
                    </div>
                </div>

                <div class="section">
                    <p class="title">Area di applicazione e salvataggio</p>
                    <p class="sectionInfo mgBottom">
                        In questa area è possibile applicare le impostazioni
                        selezionate nelle aree soprastanti, ai tuoi dispositivi.
                        E' inoltre possibile salvare tali impostazioni inserendo un
                        nome da associare alla configurazione scelta.
                    </p>
                    <%- include('partials/save') %>
                </div>
            </form>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
