<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="/css/config.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="intro">
                <p><%= info %></p>
            </div>

            <div class="elemRow">

                <div class="section split">
                    <titolo><%= led %></titolo>
                    <p><%= infoLED %></p>
                    <div class="orizontalSep"></div>
                    <p class="alignLedToPR"><%= infoLED2 %></p>
                    <%- include('partials/led', {ambient:"Luci salotto:", led:"led1", incButton:"incBut1", decButton:"decBut1"}) %>
                    <%- include('partials/led', {ambient:"Luci cucina:", led:"led2", incButton:"incBut2", decButton:"decBut2"}) %>
                    <%- include('partials/led', {ambient:"Luci camera 1:", led:"led3", incButton:"incBut3", decButton:"decBut3"}) %>
                    <%- include('partials/led', {ambient:"Luci camera 2:", led:"led4", incButton:"incBut4", decButton:"decBut4"}) %>
                    <%- include('partials/led', {ambient:"Luci camera 3:", led:"led5", incButton:"incBut5", decButton:"decBut5"}) %>
                    <%- include('partials/led', {ambient:"Luci bagno 1:", led:"led6", incButton:"incBut6", decButton:"decBut6"}) %>
                    <%- include('partials/led', {ambient:"Luci bagno 2:", led:"led7", incButton:"incBut7", decButton:"decBut7"}) %>
                    <%- include('partials/led', {ambient:"Luci ripostiglio:", led:"led8", incButton:"incBut8", decButton:"decBut8"}) %>
                </div>

                <div class="verticalSep"></div>

                <div class="section split">
                    <titolo><%= pr %></titolo>
                    <p><%= infoPR %></p>
                    <div class="orizontalSep"></div>
                    <p class="alignLedToPR"><%= infoPR2 %></p>
                    <%- include('partials/pr', {ambient:"Luci salotto:", led:"led1", incButton:"incBut1", decButton:"decBut1", sel:"sel1", index:"1"}) %>
                    <%- include('partials/pr', {ambient:"Luci cucina:", led:"led2", incButton:"incBut2", decButton:"decBut2", sel:"sel2", index:"2"}) %>
                    <%- include('partials/pr', {ambient:"Luci camera 1:", led:"led3", incButton:"incBut3", decButton:"decBut3", sel:"sel3", index:"3"}) %>
                    <%- include('partials/pr', {ambient:"Luci camera 2:", led:"led4", incButton:"incBut4", decButton:"decBut4", sel:"sel4", index:"4"}) %>
                    <%- include('partials/pr', {ambient:"Luci camera 3:", led:"led5", incButton:"incBut5", decButton:"decBut5", sel:"sel5", index:"5"}) %>
                    <%- include('partials/pr', {ambient:"Luci bagno 1:", led:"led6", incButton:"incBut6", decButton:"decBut6", sel:"sel6", index:"6"}) %>
                    <%- include('partials/pr', {ambient:"Luci bagno 2:", led:"led7", incButton:"incBut7", decButton:"decBut7", sel:"sel7", index:"7"}) %>
                    <%- include('partials/pr', {ambient:"Luci ripostiglio:", led:"led8", incButton:"incBut8", decButton:"decBut8", sel:"sel8", index:"8"}) %>
                </div>

            </div>

            <div class="section">
                <titolo><%= save %></titolo>
                <p><%= infoSave %></p>
            </div>

        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
