<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <div class="section">
                <p class="title"><%= intestazione %></p>
                <p class="sectionInfo"><%= info %></p>
            </div>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
