<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/profiles.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <% elencoProfili.forEach(profilo => { %>
                <profile>
                    <h1><%= profilo.id %></h1>
                    <p><%= profilo.info %></p>
                </profile>
            <% }); %>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
