<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/profiles.css">
    </head>

    <body>
        <header>
            <%- include('partials/header') %>
        </header>

        <main>
            <% for(let i=0; i<elencoProfili.length; i++) { %>
                <form action="/profili" method="post" id="profilesForm" >
                    <input type="hidden" name="formTrigger" value="apply" id="formTrigger" />
                    <input type="hidden" name="profileIndex" value="-1" id="formIndex"/>
                    <%- include('partials/displayProfile', {i:i}) %>
                    <input class="applyButton" type="button" id="apply" value="Applica">
                    <input class="applyButton" type="button" id="delete" value="Elimina">
                </form>

                <script>
                    // Immediately invoked function to start apply/delete buttons listeners
                    ( function()
                    {
                        const index = <%= i %>;
                        // Assign unique IDs for each button
                        document.getElementById('apply').id = "apply"+index;
                        document.getElementById('delete').id = "delete"+index;

                        const applyButton = document.getElementById('apply'+index);
                        const deleteButton = document.getElementById('delete'+index);
                        applyButton.addEventListener('click', () => {
                            sendFormAs('apply', index);
                        });
                        deleteButton.addEventListener('click', () => {
                            sendFormAs('delete', index);
                        });
                    })();

                    function sendFormAs(trigger, index)
                    {
                        const profilesForm = document.getElementById('profilesForm');
                        document.getElementById('formTrigger').value = trigger;
                        document.getElementById('formIndex').value = index;
                        profilesForm.submit();
                    }
                </script>
            <% } %>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>

    </body>
</html>
